<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{{ iconUrl }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeWe RSS</title>
    <meta name="description" content="更好的公众号订阅方式" />
    <script crossorigin src="/dash/assets/index-BrkRJZkH.js"></script>
    <link rel="stylesheet" crossorigin href="/dash/assets/index-BIgLl8FL.css">
  </head>
  <body>
    <script>
      // CommonJS compatibility
      var module = { exports: {} };
      var exports = module.exports;
    </script>
    <div id="root"></div>
    <script>
      window.__WEWE_RSS_SERVER_ORIGIN_URL__ = '{{ weweRssServerOriginUrl }}';
      window.__WEWE_RSS_ENABLED_AUTH_CODE__ = '{{ enabledAuthCode }}';
    </script>
  </body>
</html>
